
<ul class="nav navbar-nav navbar-right">

    <li class="dropdown nav navbar-nav navbar-right">
        <a href="#" class="dropdown-toggle" aria-labelledby="dropdownMenuDivider" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Cart(0)&nbsp;<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <!-- Count the number of books in your cart from database -->

            <li>title</li>

            <li role="separator" class="divider"></li>
            <li><a href="~/Market/CartLIst">My Cart List</a></li>

        </ul>
    </li>

</ul>