
<ul class="nav navbar-nav navbar-right">

    <li class="dropdown nav navbar-nav navbar-right">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Cart(0)&nbsp;<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <!-- Count the number of books in your cart from database -->
            <li><a href="#">Book1</a></li>
            <li><a href="#">BOOK2</a></li>
            <li><a href="#">book3</a></li>
        </ul>
    </li>

</ul>