@using OnlineBookstore.Models
@model IEnumerable<CartViewModel>
@{float totalPrice = 0; }

<link href="~/Content/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/shop-homepage.css" rel="stylesheet">
<html>
<body>
    <h2> Cart List  </h2><hr />&nbsp; 
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-12">


                <div class="table-responsive">
                    <div class="Title">
                        <p><font size="5"><b>Books list you selected in cart</b></font></p>
                    </div>
                    <table class="table">
    <thead>
        <tr>
            <td>
                Title
            </td>
            <td>
                Author
            </td>
            <td>
                Price
            </td>

        </tr>
        </thead>

               <!-- Please add bringing book list from cart database and delete function -->
         <tbody>
             @foreach (var item in Model)
             {totalPrice += item.Price;

                 <tr>
                     <td>@item.Title<br /> @Html.ActionLink("Delete", "DeleteCartItem", "Market", new { id = item.Id },"") </td>
                     <td>@item.Author </td>
                     <td>@item.Price  €</td>
                 </tr>
             }
         </tbody>
       </table>
    </div>
                </div>

            <br /><br />

        <div class="col-md-12 " align="right"><font size="5">Total Price :</font>
                <font size="5">
                 <b> @totalPrice €</b>
             </font></div>

                <br /><br />

                <div class="row">

                    <div class="col-md-9" align="right">
                        <input type="submit" class="btn btn-default btn-lg" value="Select more books" onclick="location='MarketPage'" />
                    </div>
                    <div class="col-md-3" align="right" >
                        <input type="button" class="btn btn-primary btn-lg" value="Buy all books in cart" onclick="location='OrderPage'" />
                    </div>
                </div>
           



    </div>

</div>
</div>

    <!-- if there is selected book list, please repeat this div class -->
    <!-- from here -->

</body>
</html>