@using OnlineBookstore.Models
@model SortedByGenreViewModel


<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/shop-homepage.css" rel="stylesheet">


<html>
<body>
    <h2> Book List  </h2><hr />&nbsp;
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">

                <h3>Genre</h3><hr />
                <!--Html.Partial("_GenreMenu")-->
            </div>
         
        <div claass="row">
            <div class="col-md-9">
                
                <h3> Selected Genre : @Model.genre </h3>

                   
                
                

            </div>

        </div>

       </div>
    </div>
</body>
</html>