<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/shop-homepage.css" rel="stylesheet">
<html>
<body>
    <h2> Book List  </h2><hr />&nbsp;
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">

                <h3>Genre</h3><hr />

                @Html.Partial("GenreMenu")
            </div>
         
        <div claass="row">
            <div class="col-md-9">
                <h3> Selected Genre </h3>

                @Html.Partial("_MarketBookThumnailPartial") 
                @Html.Partial("_MarketBookThumnailPartial") 
                @Html.Partial("_MarketBookThumnailPartial") 


            </div>

        </div>

       </div>
    </div>
</body>
</html>