
@{
    ViewBag.Title = "Thank you for using Read And Lead bookstore";
}
<style>
.glyphicon {
    font-size: 50px;
}
</style>

<br /><br /><br />
<div class="col-md-12" align="center">
    <span class="glyphicon glyphicon-ok glyphicon"></span><h1>Your order has been received</h1>
    <H4>@ViewBag.Title</H4>


    <br /><br />

    <font size="3"><a href="MarketPage">Go to main page</a></font>
</div>